<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.team.moshey">

    <application
        android:name=".MosheyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MosheyTheme.DayNight"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.AboutUsActivity"
            android:parentActivityName=".ui.MosheyActivity" />
        <activity
            android:name=".ui.BookingActivity"
            android:label="Book A Ticket"
            android:parentActivityName=".ui.MosheyActivity" />
        <activity
            android:name=".ui.MosheyActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>